<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Choice</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="108106299015-clhb6ilbka6tcr6v29dfpaj9m2igfep6.apps.googleusercontent.com">

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet"> 

    <!-- Boomerang CSS (including Bootstrap) -->
    <link type="text/css" href="../../assets/css/theme.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../assets/css/now-ui-kit.css" rel="stylesheet" />

</head>
<body>
        <nav class="navbar navbar-expand-lg bg-gradient-blue h6">
            <div class="container">
            <a class="navbar-brand" href="/">Travel</a>
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hotels</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Inspirations
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Beaches</a>
                    <a class="dropdown-item" href="#">Mountains</a>
                    <a class="dropdown-item" href="#">Heritage</a>
                    <a class="dropdown-item" href="#">Weekend Guide</a>
                    <a class="dropdown-item" href="#">Honeymoon Packages</a>
                    <a class="dropdown-item" href="#">Wildlife Tourism</a>
                    <a class="dropdown-item" href="#">Road Trips</a>
                    <a class="dropdown-item" href="#">Gateway Guide</a>
                    <a class="dropdown-item" href="#">Luxury Travel</a>
                    </div>
                </li>
                </ul>
                <img class="card-img-top" id="pimg" src="https://img.pngio.com/user-icons-free-download-png-and-svg-user-png-200_200.png" alt="img" style="height:40px;width:40px;border-radius: 50%;">
                <a class="nav-link g-signin2" data-onsuccess="onSignIn" id="loginName">sign in<span class="sr-only">(current)</span></a>
              </div>
              <a class="nav-link" onclick="signout()" href="/" id="signoutbut"><span class="sr-only">(current)</span></a>
            </div>
        </nav>
        <form method="POST" action="solopost">
        <div style="padding:50px;">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputname">Name</label>
                    <input type="text" class="form-control" name="inputname" placeholder="Name">
                  </div>
                  <div class="form-group col-md-6" id="phone">
                    <label for="inputphone">Phone</label>
                    <input type="text" class="form-control" name="inputphone" placeholder="Phone number">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" name="inputemail" placeholder="Email">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputState">Destination</label>
                    <select name="inputstate" class="form-control">
                      <option selected>Choose...</option>
                      <option>BALI</option>
                      <option>AUSTRALIA</option>
                      <option>DUBAI</option>
                      <option>GOA</option>
                      <option>HONG-KONG</option>
                      <option>KUTCH</option>
                      <option>MANALI</option>
                      <option>SHIMLA</option>
                    </select>
                    </div>
                </div>
                <label>Preffered Language</label>
                <input type="text" name="language" class="form-control" placeholder="Enter Language (eg. English,Hindi,etc.)" data-role="tagsinput" />
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        <!--   Core JS Files   -->
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <!--   Core JS Files   -->
        <script src="../../app.js" type="text/javascript"></script>
        <script src="../../assets/js/core/jquery.min.js" type="text/javascript"></script>
        <script src="../../assets/js/core/popper.min.js" type="text/javascript"></script>
        <script src="../../assets/js/core/bootstrap.min.js" type="text/javascript"></script>

        <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
        <script src="../../assets/js/plugins/bootstrap-switch.js"></script>

        <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
        <script src="../../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>

        <!-- Boomerang JS -->
        <script src="../../assets/js/theme.js"></script>
        <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
        <script src="../../assets/js/now-ui-kit.js" type="text/javascript"></script>
</body>
</html>